{% extends 'base.html' %}
{% block title %}Netsoc - 404{% endblock %}
{% block content %}
<div id="page2">
		<div id="content">
			<div id="internal2">
				<div id="ribbon2">
					<div id="ribbon2_text">
						404 Page Not Found
					</div>
				</div>
			</div>
			<div id="page2_text">
				<br /><br /><br />
				<img src="/images/thor.png" width="300px" />
				<div style="font-family: Lobster; font-size: 48px; width: 400px; float:right; padding-right: 80px; padding-top: 50px">
					&quot;That function is not possible.&quot;<br />&nbsp;&nbsp;&nbsp;&nbsp;-Commander Data
				</div>
			</div>
			
		</div>
</div>
{% endblock %}